# {{ ansible_managed }}

database={{ mumble_database }}

# Disable ICE access
icesecretread=
icesecretwrite=

autobanAttempts = 2
autobanTimeframe = 120
autobanTime = 3600

logfile={{ mumble_logfile }}

pidfile={{ mumble_pidfile }}

welcometext="{{ mumble_welcome_text }}"

port={{ mumble_port }}

serverpassword={{ mumble_password }}

bandwidth={{ mumble_bandwidth }}

users={{ mumble_max_users }}

opusthreshold=50
channelnestinglimit=3
textmessagelength=255
imagemessagelength=4096

allowhtml=false

logdays=-1

registerName={{ mumble_server_name }}
{% if mumble_register_password -%}
registerPassword={{ mumble_register_password }}
registerUrl={{ mumble_register_website }}
registerHostname={{ mumble_register_hostname }}
{% endif -%}

bonjour={{ "True" if mumble_lan else "False" }}

{% if mumble_certificate is defined -%}
sslCert={{ mumble_certificate }}
sslKey={{ mumble_certificate_key }}
{% endif -%}

uname={{ mumble_user }}

certrequired={{ "True" if mumble_cert_required else "False" }}

sendversion=False
